#matchCard {
  width: 23rem;
  color:  #5b4883;
}

#matchImg {
  display: inline;
  border: 5px solid #2BC9AF;
  border-radius: 50%;
  object-fit: cover;
  height: 9rem;
  width: 9rem;
}

#matchContent {
  display: inline;
  white-space: nowrap;
  text-align: center;
  padding: 0.25rem;
  border: 0.3rem solid #2BC9AF;
  border-radius: 1rem;
  background-color: #ff7276;
}